<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Employee Tracker</span>
  </div>
</nav>

<nav> 
   <%= link_to('Sign Up', '/users/new') %>
    <%= link_to('Sign In', '/sessions/new') %>
</nav>


<% if @user %>
<footer id="footer" >
    <p> Jobs</p>
    <p> Licence number: <%=@user.licence_number %> </p>
    <p> Email: <%=@user.email %> </p>
    <p> Contact us: <%=@user.phone_number %> </p>
    <p> About us: <%=@user.about_us %> </p>
</footer>
<% end %>





